* {
    box-sizing: border-box;
  }
  
  body {
    font-family:'Telex';
    color: rgb(155, 211, 212);
    background-color: rgb(1, 19, 19);
    text-align: center;
    font-size: 17px ;
  }

  a {
    color: palevioletred;
  }

  .togglec {
    font-size : 22px;
    border-style: solid;
    border-width: 0px;
    color: #383838;
    background-color: rgb(155, 211, 212);
    padding: 8px;
    margin: 10px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    border-color: #383838;
    border-radius: 10px;
    cursor: pointer;
  }

  .guesses {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .hint {
    font-weight: bold;
  }

  .guess {
    color: palevioletred;
    font-size: 15px;
    text-decoration-line: underline;
  }
  .emoji {
    font-size: 50px;
    margin: 3px;
  }

  .row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex:1;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 65px;
    max-width: 65px;
    margin-top: auto;
    margin-bottom: auto;
  }

  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
    width:300px;
  }
  
  img {
    object-fit: scale-down;
    height:auto;
  }

  .mg_input {
    border-radius: 4px;
    max-width: 40px;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    font-size: 19px;
  }

  .guess_input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 22px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    color: rgb(1, 19, 19);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .tooltip {
    color: palevioletred;
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #e2e2e2;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 450px) {
    body {
      font-size: 16px;
    }
    .column{
      min-width: 55px;
      max-width: 55px;
    }
    .autocomplete{
      width: 200px;
    }
  }