<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Telex" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static', filename='game.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>     
<body class="daily">

<h2>Squirdle Daily</h2>
<h3>A Pokémon Wordle-like by <a href="https://www.fireblend.com">Fireblend</a></h3>
I'm thinking of a Pokémon. Guess which! You have <span id="attempts"></span> guesses left today. <div class="tooltip">Emoji Key<span class="tooltiptext">🟩: Correct guess<br>🟥: Incorrect Guess<br>🟨: Type in wrong position<br>🔼: Guessed too low<br>🔽: Guessed too high</span></div>
<br>(Updates @ 00:00 GMT-10)
<br>

<div id="guesses" class="guesses">
  <div class="row">
    <div class='column'>
        <p class="hint">Gen</p>
    </div>
    <div class='column'>
        <p class="hint">Type 1</p>
    </div>
    <div class='column'>
        <p class="hint">Type 2</p>
    </div>
    <div class='column'>
        <p class="hint">Height</p>
    </div>
    <div class='column'>
        <p class="hint">Weight</p>
    </div>
  </div>
</div><br>

<p id="error" style="display: none;">Pokemon not found!</p>
<form id="guessform" autocomplete="off" onsubmit="return false;">
  <div class="autocomplete">
    <input class="guess_input" id="guess" type="text" name="guess" placeholder="Pokemon Name">
  </div>
  <input class="guess_input" type="submit" value="Submit" onclick="handleGuess(true,'{{im[0]}}', '{{im[1]}}', '{{im[2]}}', '{{im[3]}}', '{{im[4]}}')">
</form>


<div id="results" style="display: none;">
  <span id="won" style="display: none;">You won!</span>
  <span id="lost" style="display: none;">You lost!</span>
  <span>The secret Pokémon was <b><span id="secretpoke">{{secret}}</span></b>!</span><br>
  <a class="togglec" onclick="copyCurrentDay({{day}},false)" href="#">📄 Share</a>
  <a class="togglec" onclick="copyCurrentDay({{day}},true)" href="#">👀 Share w/names</a><br>
Generation hint arrows are obscured in daily<br>mosaics to avoid spoiling other players!<br><br>
Come back tomorrow for another daily!
</div>

<br><a href="{{ url_for('index') }}">Free Play</a>

<script>
  var pokedex = {{pokedex | safe}};
  document.addEventListener('DOMContentLoaded', (event) => {
    autocomplete(document.getElementById("guess"), getPokemon(1, 8)[1]);
    showState(true);
  })
</script>

</body>
</html>