<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Telex" rel="stylesheet">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>     
<body>

<h2>Squirdle</h2>
<h3>A Pokémon Wordle-like by <a href="https://www.fireblend.com">Fireblend</a></h3>
I'm thinking of a Pokémon. Guess which! You have {{attempts}} guesses. <div class="tooltip">Emoji Key<span class="tooltiptext">🟩: Correct guess<br>🟥: Incorrect Guess<br>🟨: Type in wrong position<br>🔼: Guessed too low<br>🔽: Guessed too high</span></div>

<br><br>
{% if data|length > 0 %}
<div class="guesses">
    <div class="row">
        {% for hint in ["Gen", "Type 1", "Type 2", "Height", "Weight", "Guess"] %}
        <div class='column'>
            <p class="hint">{{hint}}</p>
        </div>
        {% endfor %}
    </div>
    
    {% for x in data %}
        <div class="row">
        {% for hint in ["Gen", "Type 1", "Type 2", "Height", "Weight", "Guess"] %}
              <div class='column'>
              {% if hint == "Guess" %}
              <div class="tooltip"><p class=guess>{{x[hint]}}</p>
                <span class="tooltiptext">{{x["pokeinfo"] | safe}}</span>
              </div>
              {% else %}
                <p class=emoji>{{x[hint]}}</p>
              {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div><br>
{%endif%}

{% if gameOver == 0 %}
{% if error %}
Pokemon not found!
{% endif %}
<form autocomplete="off" method="POST">
  <div class="autocomplete">
    <input id="guess" type="text" name="guess" placeholder="Pokemon Name">
  </div>
  <input type="submit" value="Submit">
</form><br>
{% endif %}

{% if gameOver == 1 %}
You won!
{% endif %}
{% if gameOver == 2 %}
You lost!
{% endif %}
{% if gameOver > 0 %}
The secret Pokémon was <b>{{secret}}</b>!<br>
<a class="togglec" onclick="copyCurrentDay('{{mosaic|safe}}')" href="#">📄 Share Result</a>
{% endif %}

<form action="{{ url_for('index', clear=True) }}" method="GET">
  <input type="hidden" name="clear" value="1" /> 
  <button class="togglec" type="submit" name="gen" value="8">▶️ New Game</button>
  <button class="togglec" type="submit" name="gen" value="1">▶️ New Game (Gen 1 only!)</button>
</form>
<br><a href="https://squirdle.fireblend.com/daily">Try Daily Squirdle!</a>

<script>

var pokemon = {{pokemon | safe}};
autocomplete(document.getElementById("guess"), pokemon);
</script>

</body>
</html>
