<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Telex" rel="stylesheet">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>     
<body>

<h2>Squirdle</h2>
<h3>A Pokémon Wordle-like by <a href="https://www.fireblend.com">Fireblend</a></h3>
I'm thinking of a Pokémon. Guess which! You have {{total_attempts}} guesses. <div class="tooltip">Emoji Key<span class="tooltiptext">🟩: Correct guess<br>🟥: Incorrect Guess<br>🟨: Type in wrong position<br>🔼: Guessed too low<br>🔽: Guessed too high</span></div>

<br><br>
<div id="guesses" class="guesses" style="display: none;">
    <div class="row">
      <div class='column'>
          <p class="hint">Gen</p>
      </div>
      <div class='column'>
          <p class="hint">Type 1</p>
      </div>
      <div class='column'>
          <p class="hint">Type 2</p>
      </div>
      <div class='column'>
          <p class="hint">Height</p>
      </div>
      <div class='column'>
          <p class="hint">Weight</p>
      </div>
    </div>
</div>
<br>

<p id="error" style="display: none;">Pokemon not found!</p>
<form autocomplete="off" onsubmit="return false;">
  <div class="autocomplete">
    <input class="guess_input" id="guess" type="text" name="guess" placeholder="Pokemon Name">
  </div>
  <input class="guess_input" type="submit" value="Submit" onclick="handleGuess({{pokedex}})">
</form>

<div id="results" style="display: none;">
  <p id="won">You won!</p>
  <p id="lost">You lost!</p>
  <p>The secret Pokémon was <b>{{secret}}</b>!</p><br>
  <a class="togglec" onclick="copyCurrentDay(false)" href="#">📄 Share</a>
  <a class="togglec" onclick="copyCurrentDay(true)" href="#">👀 Share w/names</a>
</div>

<form action="{{ url_for('index', clear=True) }}" method="GET">
  <input type="hidden" name="clear" value="1" /> 
  <button class="togglec" type="submit" name="gen" value="8">▶️ New Game</button><br>
  <label for="quantity">Guess Pkmn from gen</label>
  <input class="mg_input" type="number" id="mingen" name="mingen" min="1" max="8" value="{{mingen}}" oninput="validity.valid||(value='');">
  <label for="quantity">to</label>
  <input class="mg_input" type="number" id="maxgen" name="maxgen" min="1" max="8" value="{{maxgen}}" oninput="validity.valid||(value='');"><br><br>
</form>
<br><a href="{{ url_for('daily') }}">Try Squirdle Daily!</a>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  var pokemon = {{pokemon | safe}};
  autocomplete(document.getElementById("guess"), pokemon);
  showState();
})
</script>

</body>
</html>
